<html>
	<head>
		<title>Surveyor API</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
				<header>
					<h1>Welcome to the Surveyor API</h1>
					<p>Please see the repo for the connected Surveyor Client on <a href="https://github.com/karleypetracca/surveyor-api">GitHub</a></p>
				</header>
				<br>
				<section>
					<p>
						GET-type calls made from the client include:
						<ul>
							<li><b>/api/survey/summary</b> - pulls summary data for a specific survey</li>
							<li><b>/api/survey/detail/[survey_id]</b> - pulls detailed data
							for a specific survey</li>
							<li><b>/api/responses/count/[survey_id]</b> - provides the number
							of responses received for a specific survey</li>
							<li><b>/api/responses/all/[survey_id]</b> - pulls all responses
							for all questions for a specific survey</li>
							<li><b>/api/responses/question/[question_id]</b> - pulls all
							responses for a specific question from a survey</li>
							<li><b>/api/responses/other/[survey_id]</b> - pulls all other (or
							open text)
							responses for a specific survey</li>
						</ul>
					</p>
					<br>
					<p>
						POST-type calls made to the api from the client include:
						<ul>
							<li><b>/api/addsurvey</b> - pushes a new survey into the surveys
							table</li>
							<li><b>/api/addsurveyquestions</b> - pushes a new set of survey
							questions into the questions table based on the survey_id provided
							in the "addsurvey" post</li>
							<li><b>/api/sendresponse</b> - pushes a new response into the responses
								table</li>
							<li><b>/api/sendresponsequestions</b> - pushes a new set of
							responses for	questions into the response_questions table based on the response_id provided
								in the "sendresponse" post</li>
						</ul>

					</p>
				</section>
	</body>
</html>
